/* Website's font here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Website's Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* about main css */

/* 
==========================================
      01. navigation css code start
==========================================
*/
header {
  background: #1d1d1f;
  border-bottom: 2px solid #8f6868;
  position: sticky;
  top: 0;
  z-index: 111;
  font-family: "Inter", sans-serif;
}

nav {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo a h1 {
  color: #94918a;
  font-size: 30px;
  padding: 0.5rem;
  transition: 0.5s;
}

.logo a h1:hover {
  color: #fc427b;
  background: #ffffff;
  border-radius: 30rem;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: #f0cd03;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 20px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #ff4d00;
  background: #e3ffff;
  text-transform: capitalize;
  border-radius: 30rem;
  padding: 0.5rem;
}

/* 
==========================================
      01. navigation css code end
==========================================
*/

/* =====about section main css===== */
#about{
  margin: 80px auto;
  width: 1200px;
}

.about-tittle{
  text-align: center;
}

.about-tittle h2{
  font-size: 40px;
  margin: 20px;
  color: #472D2D;
  transition: .5s;
}

.about-tittle:hover h2{
  font-size: 50px;
  color: #c58940;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.about-tittle p{
  color: #196758;
  font-size: 18px;
  font-weight: 500;
}

.all-gif-image{
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.working-gif iframe{
  margin: 20px;
}

.working-gif ,
.mobile-gif {
  height: 700px;
  width: 550px;
  padding: 0;
  margin: 0;
}

.all-gif-image iframe{
  box-shadow: 14px 13px 16px 12px #000;
}

.marquee-text{
  margin: 180px 50px 20px;
  background: #eee;
  padding: .5rem;
  border-radius: 1px 5px;
}

.marquee-text marquee{
  color: #6e5ee9;
}

.marquee-text marquee a{
  color: #009dae;
  transition: .5s;
}

.marquee-text marquee a:hover{
  color: #025a2c;
  font-weight: 700;
}

.flower{
  height: 493px;
  width: 640px;
  margin: auto;
}

.flower a img{
  height: 100%;
  width: 100%;
}



