/* Website's font here */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

/* Website's Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 
==========================================
      01. navigation css code start
==========================================
*/
header {
  background: #1d1d1f;
  border-bottom: 2px solid #8f6868;
  position: sticky;
  top: 0;
  z-index: 111;
  font-family: "Inter", sans-serif;
}

nav {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo a h1 {
  color: #94918a;
  font-size: 30px;
  padding: 0.5rem;
  transition: 0.5s;
}

.logo a h1:hover {
  color: #fc427b;
  background: #ffffff;
  border-radius: 30rem;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: #f0cd03;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 20px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #ff4d00;
  background: #e3ffff;
  text-transform: capitalize;
  border-radius: 30rem;
  padding: 0.5rem;
}

/* 
==========================================
      01. navigation css code end
==========================================
*/

/* 
==========================================
      2.2= latest video section css
==========================================
*/
#latest-video {
  background: #ced6e0;
  padding-bottom: 80px;
}

.video-content {
  width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.latest-video-title h3,
.latest-video-page-batton h4 {
  color: #273c75;
  font-size: 25px;
  font-weight: bold;
  padding: 1rem;
  transition: 0.5s;
}

.latest-video-title h3:hover {
  color: #fc427b;
  background: #fff;
  border-radius: 58px;
  margin-left: 4rem;
  border-bottom: 2px solid #b33771;
  border-right: 1rem solid #6d214f;
}

.latest-video-page-batton span {
  color: #ef3309;
  background: #acd9ff;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 3px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.2s;
}

.latest-video-page-batton span:hover {
  color: #bf00ff;
  background: #dddddd;
}

.latest-video-page-batton h4:hover {
  color: #e708c9;
}

/* =========images-section========== */
#all-videos-images {
  background: #3b3b98;
  width: 1300px;
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.single-video-img .image {
  height: 250px;
  width: 300px;
  border: 4px groove #00ffea;
  border-radius: 1px 8px;
  overflow: hidden;
  position: relative;
}

.single-video-img .image a img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.single-video-img .image:hover a img {
  transform: scale(1.3);
}

.single-video-img .images-icons {
  top: 0;
  left: -5rem;
  position: absolute;
  transition: 0.5s;
}

.single-video-img .image:hover .images-icons {
  left: -10px;
}

.single-video-img .images-icons a i {
  font-size: 25px;
  color: #d52056;
  background: #ffffff;
  display: block;
  margin: 20px;
  padding: 0.5rem;
  border: 3px solid #00c3ff;
  border-radius: 1px 9px;
  transition: 0.5s;
}

.single-video-img .images-icons a:hover i {
  transform: rotate(360deg);
  color: #ff4400;
  background: #ffffff;
  border: 3px solid #ff0073;
}

.single-video-img .image-content {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.image-content h5 {
  color: #f8efba;
  font-size: 18px;
}

/* ===previous/next-button=== */
#jump-button {
  margin: 80px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  background: #ffffff;
  border: 2px solid #3b3b98;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.5s;
}

h3 a i {
  color: rgb(159, 4, 4);
  font-size: 22px;
  transition: 0.5s;
}

h3 a span {
  color: #ff00f7;
  font-size: 22px;
  font-weight: bolder;
  transition: 0.5s;
}

h3:hover {
  background: #95afc0;
  border: 2px solid #0e5e6f;
}

h3:hover a i,
h3:hover a span {
  color: #fff;
}

#jump-button .numbering-button > a {
  color: #ffffff;
  background: #95afc0;
  border: 2px solid #130f40;
  border-radius: 5px;
  margin: 0 6px;
  padding: 0.5rem;
  font-size: 22px;
  font-weight: bold;
}
